<h1>Add Game</h1>

<form method="POST">

    <input
        type="text"
        name="name"
        placeholder="Game Name"
    >

    <input
        type="url"
        name="telegram"
        placeholder="Telegram Link"
    >

    <input
        type="url"
        name="messenger"
        placeholder="Messenger Link"
    >

    <input
        type="text"
        name="viber"
        placeholder="Viber Link or Phone"
    >

    <input
        type="text"
        name="phone"
        placeholder="Phone Number"
    >

    <button type="submit">
        Add Game
    </button>

</form>
